<header>
	<%= image_tag("http://placehold.it/250x100&text=$wit3r", :alt => "Switer", :class => "round") %>
	<nav class="round">
		<ul>
			<li><%= link_to "Home", '#' %></li>
			<li><%= link_to "Help", '#' %></li>
			<li><%= link_to "Sign in", '#' %></li>
		</ul>
	</nav>
</header>